[Desktop Entry]
Encoding=UTF-8
Name=Test1Coin
Comment=Test1Coin P2P Cryptocurrency
Comment[fr]=Test1Coin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Test1Coin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/test1coin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/test1coin128.png
MimeType=x-scheme-handler/test1coin;
Categories=Office;
