#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_test1coin
#build/test1coind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_test1coin)

DEB_INSTALL_EXAMPLES_test1coind += debian/examples/*
DEB_INSTALL_MANPAGES_test1coind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix test1coind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f test1coin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake test1coin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_test1coin
	src/test_test1coin

# Ensure wrapper is set executable
binary-post-install/test1coind:
	chmod +x $(cdbs_curdestdir)usr/bin/test1coind
binary-post-install/test1coin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/test1coin-qt
